/*
247BA0
9FFFCB
7AE582
F7C59F
1D1E2C
4B3F72
*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1D1E2C;
    color: #e5e5e5;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #16171e;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
}

button{
    background-color: #4B3F72;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

nav a {
    color: #7AE582;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #9FFFCB;
}

h1 {
    color: #c98e60;
    text-align: center;
}

h2 {
    color: #247BA0;
}

main {
    padding: 2rem;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    background-color: #1a1a1a;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    width: 200px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

a {
    color: #7AE582;
    text-decoration: none;
}

a:hover {
    color: #9FFFCB;
}

.kart {
    text-align: center;
    background-color: #4B3F72;
    height: 210px;
    width: 640px;
    position: absolute;
    bottom: 45%;
    border-radius: 25px;
    animation: fade-out 4s forwards;
}

@keyframes fade-out {
    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.container {
    display: grid;
    place-items: center;
}